#navbar{
display: flex;
align-items: center;
position: absolute;
}
#logo1{
	margin: 1px;

}
#logo1 img{
height:59px;
margin:3px 6px;
}

#navbar ul{
	display: flex;

	
}
#navbar ul li{
	list-style: none;

	font-size: 1.3rem;
	font-family: 'Baloo Bhai 2', cursive;
}
#navbar::before{
	content: "";
	background-color: black;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: -1;
	opacity: 1;
}
#navbar ul li a{
	display: block;
	padding: 3px 22px;
	
	text-decoration: none;
	color: white;
	font-weight: bold;
}
#navbar ul li a:hover{
	color: black;
	background-color:white;
	border-radius: 20px;

	}
	#home{
		display: flex;
		flex-direction: column;
		padding: 3px 200px;
		height: 559px;
		justify-content: center;
		align-items: center;

	}
	#home::before{
		content: "";
		position: absolute;
		top: 0px;
	    left: 0px;
		background:url(h7.jpg);
		height:75%;
		width: 100%;
		z-index: -1;
		opacity: 0.89;
	}
	#home h1{
		color: white;
		text-shadow: 8px 4px 2px black;
		text-align: center;
		margin: 0px;
		padding: 0px;
        font-family: 'Bree Serif', serif;
	}
	#home p{
		color: white;
		margin: -25px;
		padding: 75px;
		text-align: center;
	    padding: 0px;
	    margin: 0px;
		font-family: 'Bree Serif', serif;
		font-size: 1.2rem;
	}

#services{
	padding: 0px;

	margin: 20px;
	height: 379px;
display: flex;
	

}
#services .box{
	
	border:2px solid brown;
	height: 327px;
	margin: -12px 10px;
	padding: 15px;
	border-radius: 15px;
	background-color: #f2f2f2;
	position: relative;
	background-size: 100% 100%;
  
}
#services .box img{
	padding: 15px;
	height: 170px;
	display: block;
	margin:auto;

}
	.h-primary{
		font-size: 2.8rem;
		padding: 1px;
	}
	.h-secondary{
		font-size: 2rem;
		padding: 0px;
	}
	.btn{
		padding: 6px 20px;
		border:2px solid white;
		background-color: brown;
		color: white;
		margin-bottom: 17px;
		font-size: 1.5rem;
		border-radius: 10px;
		cursor: pointer;
	}
	.center{
		text-align: center;
		top: 0px;
		padding: 0px;
		margin-top:-24px;

}
#services .box p{
	font-family: 'Bree serif',serif;
}
#client{
	padding: 76px;
	height: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#client-section{
	height: 344px;
}
#client-section::before{
content: "";
position: absolute;
background: url(h6.jpg);
width: 100%;
height: 42%;
z-index: -1;
opacity:0.3;
}

#client img{
	height: 124px;
}
.client-item{
	padding: 40px;
}
#contact{
	height: 528px;
	

	position: relative;
}
#contact::before{
content: "";
position: absolute;
width: 100%;
height: 90%;
z-index: -1;
opacity: 0.2;
background:url(h2.jpg);
}
#contact-box input,
#contact-box textarea{
	width: 100%;
	padding: 0.5rem;
	border:3px ;
	border-radius: 5px;
}
	#contact-box{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 309px;

	}
	#contact-box label{
		font-size: 1.2rem;
		font-family: 'Bree serif',serif;
	}
	.ft{
		font-size: 1.2rem;
		font-family: 'Bree serif',serif;
	}

footer{
	background-color: black;
	color: white;
	font-weight: bold;
	font-size: 30px;

}